.container{

margin-left: 20px;
margin-top:0px;

}
body{

margin-left:10%;
margin-right:30%;
background-repeat:no-repeat;
background-size:cover;
height:50%;
box-shadow: 5px 10px 18px #888888;

}
.logo{
float:right;
}