{{#partial "content"}}

   <p> List of Departments in Technology Division</p>


   {{#if departments}}
       {{#each departments }}
           <p><a href="/departments/{{id}}">{{name}}</a></p>
       {{/each}}
   {{else}}
       <p>No Departments</p>
   {{/if}}
      {{name}}
{{/partial}}

{{> layout.hbs}}