{{#partial "content"}}

   <h1> List of sections in Technology Division</h1>

   {{#if tasks}}
       {{#each tasks }}
           <p><a href="/categories/{{categoryId}}/tasks/{{id}}">{{description}}</a></p>
       {{/each}}
   {{else}}
       <p>No sections</p>
   {{/if}}
{{/partial}}

{{> layout.hbs}}
